@{
    ViewData["Title"] = "About Us";
}

<h1>About Me, </h1>
<p class="accordion-flush caption-top text-md-center" >
    
    The Design Blog features carefully selected good works from studios and designers from around the globe.
    
</p>
<h6 class="align-content-lg-around" style="animation-direction:alternate ">Mohamed Hosny ... DotNet Developer </h6>